.card{
    margin-bottom: 0.5em;
}

.form {
    width: 80%;
    text-align: center;
}

.div_main_app{
    background-color: #c9c2c273;
    padding: 2em 1em;
}

.logo_login{ 
    height: 100px;
    width: 100px;
    margin: 0 1em;
}

.table_div {
    padding: 0 2em;
}

.item-icon{
    margin-right: 1em;
}

.card-header{
    padding: 0.5em 2em;
}
.item-icon{
    width: auto;
}

.card-header-r{
    text-align: right;
}

.recipe_icon{
    width: 2.5em;
    margin: 0.05em 0.5em;
}