@use 'assets/styles/main';


@use 'src/assets/styles/utils/_variables';



body{
  font-family: Helvetica, Arial, sans-serif;
}

.app_div{
  width: 80%;
  background-color: variables.$gray-100;
  border: variables.$border-width-thick variables.$border-style-dotted variables.$border-color-light;
  margin: auto;
  margin-top: 4.5em;
  padding: 2em 3em;
  border-radius: 30px;
  padding-bottom: 250px;
  position: relative;
}
